<div id="main">
    <form method="get" action="/">
        <input type="text" name="argument" value="AHAH">
        <button type="submit" name="przycisk">Przeslij</button>
    </form>
    <div id="wyjsie">
        <h1>Tekst wyjsciowy: {{title}}</h1>
    </div>
    <div id="10znakow">
        <h1>10 Znaków: {{shortTitle title}}</h1>
    </div>
    <div id="duze">
        <h1>Duze litery: {{bigTitle title}}</h1>
    </div>
    <div id="minusy">
        <h1>Minusy: {{minusy title}}</h1>
    </div>
</div>