h1 {
    color: red;
}

th,
td {
    border: 1px solid black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    color: yellow;
}

.flex {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.flex2 {
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.item2 {
    width: 100%;
}

.text {
    color: lightcoral;
    font-size: 40px;
}

.hidden {
    display: none;
}