<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav style="background-color:black;">
        <h1 id="Title">Cars</h1>
        <a href="/addcars">Add</a>
        <a href="/Listcars">List</a>
        <a href="/Deletecars">Delete</a>
        <a href="/Editcars">Edit</a>
    </nav>
    {{{body}}}

</body>

</html>